# Python
__pycache__/
*.py[cod]
backend/venv/

# Environment files
.env
backend/.env
frontend/.env

# Node
frontend/node_modules/

# Build files
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db